#contact {
  margin-top: 10px;
  margin-bottom: 30px;
}

.contact-box {
  background-color: #f7f7f7;
  box-shadow: 0px 0px 20px #d2cece;
  margin: 0% 0% 0% 15%;
  height: 500px;
}
.card-header{
  background: -webkit-linear-gradient(left, #3931af, #00c6ff);
}

.card-header h3{
  color:#ffffff;
}

.contact-box input[type="submit"] {
  border: none;
  outline: none;
  padding: 0.5rem 2rem;
  background-color: #FF1A38;
  color: #ffffff;
  cursor: pointer;
}

.input-group-prepend span{
  width: 50px;
  background-color: #FF1A38;
  color: white;
  border:0 !important;
  }
  
  input:focus{
  outline: 0 0 0 0  !important;
  box-shadow: 0 0 0 0 !important;
  
  }